PORT = 8000
REDIS_PASSWORD = 
REDIS_USERNAME = 
REDIS_HOST =
REDIS_PORT =

MONGO_URI = mongodb://localhost:27017/chitchat

JWT_SECRET= 
REFRESH_SECRET= 

# Resend API Key for Email OTP
RESEND_API_KEY =

GEMINI_API_KEY = 

# cloud cred 

CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 

NODE_ENV = dev
