@import "tailwindcss";

@theme {
  /* Chocolate Cosmos */
  --color-chocolate_cosmos-100: #0f0002;
  --color-chocolate_cosmos-200: #1f0004;
  --color-chocolate_cosmos-300: #2e0006;
  --color-chocolate_cosmos-400: #3d0008;
  --color-chocolate_cosmos-500: #4f000b;
  --color-chocolate_cosmos-600: #a30016;
  --color-chocolate_cosmos-700: #fa0021;
  --color-chocolate_cosmos-800: #ff5269;
  --color-chocolate_cosmos-900: #ffa8b4;

  /* Claret */
  --color-claret-100: #160007;
  --color-claret-200: #2d000f;
  --color-claret-300: #430016;
  --color-claret-400: #5a001e;
  --color-claret-500: #720026;
  --color-claret-600: #c00040;
  --color-claret-700: #ff1060;
  --color-claret-800: #ff6095;
  --color-claret-900: #ffafca;

  /* Amaranth */
  --color-amaranth-100: #2b0b10;
  --color-amaranth-200: #561620;
  --color-amaranth-300: #812130;
  --color-amaranth-400: #ac2c3f;
  --color-amaranth-500: #ce4257;
  --color-amaranth-600: #d86778;
  --color-amaranth-700: #e28d99;
  --color-amaranth-800: #ebb3bb;
  --color-amaranth-900: #f5d9dd;

  /* Coral */
  --color-coral-100: #431200;
  --color-coral-200: #872400;
  --color-coral-300: #ca3600;
  --color-coral-400: #ff4e0e;
  --color-coral-500: #ff7f51;
  --color-coral-600: #ff9974;
  --color-coral-700: #ffb397;
  --color-coral-800: #ffccba;
  --color-coral-900: #ffe6dc;

  /* Sandy Brown */
  --color-sandy_brown-100: #431c00;
  --color-sandy_brown-200: #873800;
  --color-sandy_brown-300: #ca5400;
  --color-sandy_brown-400: #ff730e;
  --color-sandy_brown-500: #ff9b54;
  --color-sandy_brown-600: #ffae74;
  --color-sandy_brown-700: #ffc297;
  --color-sandy_brown-800: #ffd7ba;
  --color-sandy_brown-900: #ffebdc;
}
